* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Libre Baskerville", serif;
}

/* General styling */
.main-container {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.links {
  list-style: none;
}

.links li {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.links a {
  padding: 1rem;
  text-decoration: none;
  color: #000;
}

/* Grid and flexbox layout */
.main-container {
  display: grid;
  grid-template-areas:
    "header  header"
    "main    aside"
    "footer  footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 4fr 1fr;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

main,
aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
